body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

a {
  color: rgb(243, 243, 245);
  text-decoration: none;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: rgb(35, 35, 34);
  align-items: center;
  height: 50px;
}

label {
  font-size: 16px;
}

h2 {
  font-size: 24px;
  padding: 20px;
  margin: auto;
  width: 757px;
  text-align: center;
}

input {
  font-size: 14px;
}

td {
  padding: 10px;
  background-color: beige;
}

form {
  padding: 20px;
  background-color: rgb(227, 244, 244);
  width: 757px;
  margin: auto;
  text-align: center;
}

table {
  margin: auto;
  width: 800px;
}

h1 {
  text-align: center;
}

td > a {
  color: darkslategray;
}

#show-page {
  margin: auto;
  width: 800px;
}

h5 {
  text-align: center;
}

#show-page > a {
  color: black;
}

.new-ticket-link {
  background-color: grey;
  height: 25px;
  width: 160px;
  border-radius: 5%;
  text-align: center;
  line-height: 25px;
}

th {
  text-align: left;
}

#ticket-list > tbody > tr > td {
  background-color: linen;
  padding: 0px 10px;
}

#delete-ticket > form {
  background-color: linen;
  width: 30px;
  padding: 5px 20px;
}

#delete-ticket {
  width: 8px;
}