<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Flights</title>
</head>
<body>
  <nav class="nav-bar">
    <a href="/flights">ALL FLIGHTS</a>
    <a href="/flights/new">ADD FLIGHT</a>
  </nav>
  <h1>Flight List</h1>
  <table>
    <thead>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight No.</th>
      <th>Departure Time</th>
    </thead>
    <tbody>
      <!-- Write the line of EJS to iterate over flights using forEach -->
      <% flights.forEach(function(f){ %>
        <tr> 
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
        </tr>
        <% }) %>
      <!-- Close the forEach using EJS here -->
      </tbody>
    </tbody>
  </table>
</body>
</html>